﻿@model List<RemaxProject.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>List Client</h2>

<table class="table table-dark table-hover">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var client in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(client.Region, "Index", "User", new { @id = client.ClientId }, null);

            </td>
           
        </tr>
    }

</table>