﻿@model RemaxProject.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<table class="table table-dark table-hover">
        <tr>
            <th>UserId</th>
            <th>Email</th>
            <th>Password</th>
        </tr>

        <tr>
            <td>@Model.UserId </td>
            <td>@Model.Email </td>
            <td>@Model.Password </td>
        </tr></table>

