﻿@model List<RemaxProject.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-dark table-hover">
    <tr>
        <th>Email</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(user.Email, "Index", new { @id = user.UserId });
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "User", new { @id = user.UserId }, null);
                @using (Html.BeginForm("Delete", "User", new { @id = user.UserId }))
                {
                    <input type="submit" value="delete" onclick="return confirm('Are you sure to delete with id=@user.UserId');" />
                }
            </td>
        </tr>
    }
</table>

