﻿@model List<RemaxProject.Models.Admin>

@{
    ViewBag.Title = "Index";
}

<h2>List Admin</h2>


<table class="table table-dark table-hover">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var admin in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(admin.Region, "Index", "User", new { @id = admin.AdminId }, null);

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Admin", new { @id = admin.AdminId }, null);
                @using (Html.BeginForm("Delete", "Admin", new { @id = admin.AdminId }))
                {
                    <input type="submit" value="delete" onclick="return confirm('Are you sure to delete with id=@admin.AdminId');" />
                }
            </td>
        </tr>
    }

</table>

