﻿@model RemaxProject.Models.UserOfClientAndAdmin

@{
    ViewBag.Title = "Index";
}

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../css/bootstrap.min.css" rel="stylesheet" />
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <style>
        .container {
            margin: auto;
            width: auto;
            border: 3px solid #73AD21;
            padding: 10px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h2>List User</h2>
    <div class="container">
        <table class="table table-dark table-hover">
            <tr>
                <th>UserId</th>
                <th>Fmail</th>
                <th>Password</th>
            </tr>
            @foreach (var user in Model.ListUser)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                </tr>
            }

        </table>
    </div>

    <h2>List Client</h2>
    <div class="container">
        <table class="table table-dark table-hover">
            <tr>
                <th>ClientId</th>
                <th>Region</th>
                <th>City</th>
                <th>Price</th>
                <th>Rooms</th>
                <th>Bathrooms</th>
                <th>Garage</th>
                <th>Pool</th>
                <th>Fireplace</th>
            </tr>
            @foreach (var client in Model.ListClient)
            {
                <tr>
                    <td> @client.ClientId</td>
                    <td> @client.Region</td>
                    <td> @client.City</td>
                    <td> @client.Price</td>
                    <td> @client.Rooms</td>
                    <td> @client.Bathrooms</td>
                    <td> @client.Garage</td>
                    <td> @client.Pool</td>
                    <td> @client.Fireplace</td>

                </tr>
            }

        </table>
    </div>

    <h2>List Admin</h2>
    <div class="container">
        <table class="table table-dark table-hover">
            <tr>
                <th>AdminId</th>
                <th>Region</th>
                <th>City</th>
                <th>Price</th>
                <th>Rooms</th>
                <th>Bathrooms</th>
                <th>Garage</th>
                <th>Pool</th>
                <th>Fireplace</th>
                <th>Image</th>
            </tr>
            @foreach (var client in Model.ListAdmin)
            {
                <tr>
                    <td> @client.AdminId</td>
                    <td> @client.Region</td>
                    <td> @client.City</td>
                    <td> @client.Price</td>
                    <td> @client.Rooms</td>
                    <td> @client.Bathrooms</td>
                    <td> @client.Garage</td>
                    <td> @client.Pool</td>
                    <td> @client.Fireplace</td>
                    <td> @client.Image</td>
                </tr>
            }

        </table>
    </div>
</body>